header{
  background-color: purple;
  height: 270px;
  width:auto;
  font-size:20px;
  margin: 0px;
  padding:0px;
}

body{
  margin:0px;
  background-color: rgb(237, 222, 237);
}

h1{
  padding: 10px;
  font-family: sans-serif;
  color: white;
  padding-top: 20px;
}

ul{
  margin: 0px;
  padding: 0px;
}
li{
  padding: 20px;
  font-size: 20;
  font-family: sans-serif;
  list-style-type: none;
}

nav{
  height: 90%;
  width: 15%;
  float: left;
  margin: 20px;
  background-color: white;
  border-radius: 10px;
}

table{
  position:absolute;
  margin-left: 18%;
  margin-top: 10%;
  width: 70%;
  height: 50%;
  border-spacing: 20px;
}

td{
  padding: 20px;
  width: 30%;
  height: 10%;
  background-color: white;
  font-size: 15px;
  border-radius: 10px;
  font-family: sans-serif;
}
